// Source - http://www.fontsquirrel.com/fonts/lekton
// License - http://www.fontsquirrel.com/license/lekton

@font-face {
	font-family: 'LektonRegular';
	src: url('fonts/Lekton-Regular-webfont.eot');
	src: url('fonts/Lekton-Regular-webfont.eot?iefix') format('eot'),
		 url('fonts/Lekton-Regular-webfont.woff') format('woff'),
		 url('fonts/Lekton-Regular-webfont.ttf') format('truetype'),
		 url('fonts/Lekton-Regular-webfont.svg#webfontTLwTvxPB') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LektonItalic';
	src: url('fonts/Lekton-Italic-webfont.eot');
	src: url('fonts/Lekton-Italic-webfont.eot?iefix') format('eot'),
		 url('fonts/Lekton-Italic-webfont.woff') format('woff'),
		 url('fonts/Lekton-Italic-webfont.ttf') format('truetype'),
		 url('fonts/Lekton-Italic-webfont.svg#webfontKdDr7tww') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LektonBold';
	src: url('fonts/Lekton-Bold-webfont.eot');
	src: url('fonts/Lekton-Bold-webfont.eot?iefix') format('eot'),
		 url('fonts/Lekton-Bold-webfont.woff') format('woff'),
		 url('fonts/Lekton-Bold-webfont.ttf') format('truetype'),
		 url('fonts/Lekton-Bold-webfont.svg#webfontA2E8u7uj') format('svg');
	font-weight: normal;
	font-style: normal;
}